{% extends "base.html" %}
{% load static %}

{% block css_files %}{% endblock css_files %}

{% block page_title %}Login{% endblock page_title %}

{% block page_content %}
<form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Login</button>
</form>
<ul>
    <li><a href="{% url "password_reset" %}">Forgot your password?</a></li>
    <li><a href="{% url "signup" %}">Need an account?</a></li>
</ul>
{% endblock page_content %}

{% block page_scripts %}{% endblock page_scripts %}