{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "dashboard/style.css" %}">
{% endblock css_files %}

{% block page_title %}Dashboard{% endblock page_title %}

{% block page_content %}
<h3>Welcome to Dashboard {{user|title}}</h3>

<ul>
    <li><a href="{% url "password_change" %}">Change Password</a></li>
    <li>
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    </li>
</ul>
{% endblock page_content %}

{% block page_scripts %}{% endblock page_scripts %}